@font-face {
    font-family: 'LinBiolinumO';
    src: url('/fonts/LinBiolinumO.woff') format('woff'),
         url('/fonts/LinBiolinumO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.my-font {
    font-family: LinBiolinumO;
}

h1 {
    color: #4C4C4C;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #4C4C4C;
    margin-top: 10px;
    /* margin-bottom: 30px; */
}

.centered {
  text-align: center;
}

p {
    color: #4C4C4C;
    /* margin: 10px; */
    line-height: 1.9;
}

.p-home {
    font-size: large;
}

.padded {
  padding-left: 15%;
  padding-right: 15%;
}

/* .my-brand {
    height: 45px;
    width: 45px;
    /* color: #F8B500;
    border-color: #F8B500; *
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .brand-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; *
    align-items: center;
} */

/* .brand-text {
    margin-left: 10px;
    align-self: center;
} */

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 35px;
}

.empty-large {
    height: 40px;
}


.my-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C4C4C;
    /* margin-top: 40px; */
    height: 35px;
    width: 100%;
    position: relative;
    bottom: 0;
    color: white;
    font-size: small;
}

#footer-link {
    color: white;
}


/********** Photo Grid **********/
.photo-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 2 equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}

/* Responsive layout - makes the one columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}
/******** End Photo Grid ********/